# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/ar-lib
/config.guess
/config.sub
/test-driver
/depcomp
/install-sh
/missing
/stamp-h1
/build/*

# others

dist
third_party
examples

*.dbc
*.str
*.rvr
*.pea
*.log
compile_intel.sh
compile.sh
src/.deps/advance.Po
src/.deps/assim_cli.Po
src/.deps/asynch_cli.Po
src/.deps/asynch_interface.Po
src/.deps/blas.Po
src/.deps/comm.Po
src/.deps/compression.Po
src/.deps/config_gbl.Po
src/.deps/data_types.Po
src/.deps/date_manip.Po
src/.deps/db.Po
src/.deps/forcings_io.Po
src/.deps/forcings.Po
src/.deps/io.Po
src/.deps/misc.Po
src/.deps/optparse.Po
src/.deps/outputs.Po
src/.deps/partition.Po
src/.deps/processdata.Po
src/.deps/riversys.Po
src/.deps/rksteppers.Po
src/.deps/sort.Po
src/.deps/system.Po
src/assim/.deps/ancillary.Po
src/assim/.deps/linear_least_squares.Po
src/assim/.deps/models.Po
src/.deps/advance.Po
src/.deps/assim_cli.Po
src/.deps/asynch_cli.Po
src/.deps/asynch_interface.Po
src/.deps/blas.Po
src/.deps/comm.Po
src/.deps/compression.Po
src/.deps/config_gbl.Po
src/.deps/data_types.Po
src/.deps/date_manip.Po
src/.deps/db.Po
src/.deps/forcings_io.Po
src/.deps/forcings.Po
src/.deps/io.Po
src/.deps/misc.Po
src/.deps/optparse.Po
src/.deps/outputs.Po
src/.deps/partition.Po
src/.deps/processdata.Po
src/.deps/riversys.Po
src/.deps/rksteppers.Po
src/.deps/sort.Po
src/.deps/system.Po
src/assim/.deps/ancillary.Po
src/assim/.deps/linear_least_squares.Po
src/assim/.deps/models.Po
src/.deps/advance.Po
src/.deps/assim_cli.Po
src/.deps/asynch_cli.Po
src/.deps/asynch_interface.Po
src/.deps/blas.Po
src/.deps/comm.Po
src/.deps/compression.Po
src/.deps/config_gbl.Po
src/.deps/data_types.Po
src/.deps/date_manip.Po
src/.deps/db.Po
src/.deps/forcings_io.Po
src/.deps/forcings.Po
src/.deps/io.Po
src/.deps/misc.Po
src/.deps/optparse.Po
src/.deps/outputs.Po
src/.deps/partition.Po
src/.deps/processdata.Po
src/.deps/riversys.Po
src/.deps/rksteppers.Po
src/.deps/sort.Po
src/.deps/system.Po
src/assim/.deps/ancillary.Po
src/assim/.deps/linear_least_squares.Po
src/assim/.deps/models.Po
compile.sh
